@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>管理信息系统</title>
    <script src="~/Content/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/js/plugs/layer/layer.js" type="text/javascript"></script>
    <script src="~/Content/js/vue.js" type="text/javascript"></script>
    <script src="~/Content/js/bode/bode.js" type="text/javascript"></script>
    <script src="~/Content/js/bode/bode.ajax.js" type="text/javascript"></script>
    
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/admin/admin.css" rel="stylesheet" />
    <link href="~/Content/css/admin/index.css" rel="stylesheet" />
</head>
<body id="index-page">
    <div class="header">
        <div class="header-waper ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>

            <div class="header-navigation ue-clear">
                <div class="ue-clear">
                    <ul class="topnav">
                        <template v-for="nav in navs">
                            <li v-bind:class="{'selected':nav.id==curFirstNav.id}" v-on:click="firstNavClick(nav);">
                                <i v-bind:class="['fa',nav.icon]"></i><span>{{nav.name}}</span>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>

            <div class="toolbar ue-clear">
                <a href="javascript:void(0);" class="home"><i class="fa fa-home"></i>首页</a>
                <a href="javascript:void(0);" class="quit"><i class="fa fa-power-off"></i></a>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header">
                    <i class="fa fa-th-list"></i>
                    <span>功能导航</span>
                </h2>
                <ul class="menu">
                    <template v-for="nav in curFirstNav.children">
                        <li v-bind:class="{'open':nav.id==openNav.id}" v-on:click="secondNavClick(nav);">
                            <a href="#"><i  v-bind:class="['fa',nav.icon]"></i>{{nav.name}}</a>
                            <ul class="submenu">
                                <template v-for="subNav in nav.children">
                                    <li v-bind:class="{'active':subNav.id==activeLeafNav.id}" v-on:click.stop="leafNavClick(subNav)"><a href="#">{{subNav.name}}</a><i></i></li>
                                </template>
                            </ul>
                        </li>
                    </template>
                </ul>
            </div>

            <div class="content">
                <div class="place">
                </div>
                <iframe v-bind:src="activeLeafNav.url" id="page" style="width:100%;height:100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <div class="footer ue-clear">
        <div class="footer-left">
            <span>欢迎您,</span><a href="javascript:void(0);">Admin</a>
            <em>Office&nbsp;System</em>
        </div>
        <div class="footer-right">
            <span>Automation</span>
            <em>V2.0&nbsp;2014</em>
        </div>
    </div>

    <script src="~/Content/js/admin/index.js" type="text/javascript"></script>
</body>
</html>