@{
    ViewBag.Title = "用户列表";
    Layout = "~/Areas/Admin/Views/Shared/_GridLayout.cshtml";
}

@section customScript{
    <script type="text/javascript">
        var vm = new Vue({
            el: '#roles',
            data: {
                curUserId: 0,
                roleNames: [],
                checkedRoleNames: []
            },
            created: function () {
                var self = this;
                $.bode.ajax("/api/services/zero/role/GetAllRoleNames", {}, function (roleNames) {
                    self.roleNames = roleNames;
                })
            }
        });

        function onRoleClick(data) {
            layer.open({
                title: data.userName + "-设置角色",
                type: 1,
                area: "40%",
                content: $("#roles"),
                btn: ["保存", "取消"],
                success: function () {
                    //异步加载的数据在弹出框渲染完成之后再执行，vue不会触发隐藏元素的视图更新
                    if (vm.curUserId !== data.id) {
                        var url = "/api/services/zero/user/GetUserRoles?userId=" + data.id;
                        $.bode.ajax(url, {}, function (roleNames) {
                            vm.curUserId = data.id;
                            vm.checkedRoleNames = roleNames;
                        });
                    }
                },
                yes: function (index, layero) {
                    $.bode.ajax("/api/services/zero/user/SetUserRoles", { userId: vm.curUserId, roleNames: vm.checkedRoleNames }, function () {
                        layer.msg("保存成功");
                        layer.close(index);
                    });
                },
                cancel: function () { }
            });
        }

        tableOption.url = {
            read: "/api/services/zero/user/GetUserPagedList",
            add: "/api/services/zero/user/CreateUser",
            edit: "/api/services/zero/user/UpdateUser",
            delete: "/api/services/zero/user/DeleteUser"
        };
        tableOption.columns = [
                { data: "id", title: "编号" },
                { data: "userName", title: "用户名", type: "text", query: true },
                { data: "nickName", title: "昵称", type: "text", query: true },
                { data: "password", title: "密码", type: "hide", query: true, editor: {ep:"hide"} },
                { data: "emailAddress", title: "邮箱", type: "text", query: true },
                { data: "isActive", title: "是否激活", type: "switch", query: true },
                { data: "lastLoginTime", title: "最后登录时间", type: "timepicker", query: true, editor: { ap:"hide",ep: "hide" } },
                { data: "creationTime", title: "创建时间", type: "timepicker", query: true, editor: { ap: "hide", ep: "hide" } },
                {
                    title: "操作选项",
                    width:"450px",
                    type: "command",
                    actions: [
                        {
                            name: "设置角色",
                            icon: "fa-trash-o",
                            onClick: onRoleClick
                        }
                         ,
                    {
                        name: "重置密码",
                        icon: "fa-suitcase",
                        onClick: chagePwd
                    }
                    ]
                }
        ];
        function chagePwd(d, self) {
            layer.open({
                title: d.nickName + "-重置密码",
                type: 1,
                area: "40%",
                content: $("#chagePwd"),
                btn: ["保存", "取消"],
                success: function () {

                },
                yes: function (index, layero) {
                    var xpwd = $("#xpwd").val();
                    var qpwd = $("#pwd").val();
                    if (xpwd.length === 0) {
                        layer.msg("新密码不能为空");
                        return;
                    }
                    if (qpwd.length === 0) {
                        layer.msg("确认密码不能为空");
                        return;
                    }
                    if (xpwd !== qpwd) {
                        layer.msg("密码不一致");
                        return;
                    }
                    var data = { NewPassword: xpwd, UserId: d.id }
                    $.bode.ajax("/api/services/zero/user/ResetAdminPassword",
                       data,
                        function () {
                            layer.msg("重置成功");
                            layer.close(index);
                        });
                },
                cancel: function () { }
            });
        }
    </script>
}

<div id="roles" class="layer-row-container">
    <div class="row">
        <template v-for="role in roleNames">
            <div class="col-sm-4 col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="{{role.roleName}}" v-model="checkedRoleNames">
                        <span class="text">{{role.displayName}}</span>
                    </label>
                </div>
            </div>
        </template>
    </div>
</div>
<div id="chagePwd" class="layer-row-container">
    <div class="row">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label no-padding-right"><span style="color:red;">*&nbsp;</span>新密码：</label>
            <div class="col-sm-9">

                <input type="password" class="form-control" id="xpwd">
            </div>
            <label for="pwd" class="col-sm-3 control-label no-padding-right"><span style="color:red;">*&nbsp;</span>确认密码：</label>
            <div class="col-sm-9">

                <input type="password" class="form-control" id="pwd">
            </div>
        </div>
    </div>
</div>
<div id="reset-password" class="layer-row-container">

</div>
