@{
    ViewBag.Title = "后台管理系统-登陆";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="~/Content/css/admin/admin.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Content/js/jquery-1.10.2.min.js"></script>
</head>


<body>
    <div class="pageloading_bg" id="pageloading_bg">
    </div>
    <div id="pageloading">
        数据加载中，请稍等...
    </div>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">Title</a></li>
        </ul>
    </div>

    <div class="mainindex">
        <div class="rightinfo">
            <div class="tools">

                <ul class="toolbar">
                    <li class="click"><span><img src="~/Content/imgs/admin/t01.png" /></span>添加</li>
                    <li class="click"><span><img src="~/Content/imgs/admin/t02.png" /></span>修改</li>
                    <li><span><img src="~/Content/imgs/admin/t03.png" /></span>删除</li>
                    <li><span><img src="~/Content/imgs/admin/t04.png" /></span>统计</li>
                </ul>


                <ul class="toolbar1">
                    <li><span><img src="~/Content/imgs/admin/t05.png" /></span>设置</li>
                </ul>

            </div>


            <ul class="imglist">

                <li class="selected">
                    <span><img src="~/Content/imgs/admin/img01.png" /></span>
                    <h2><a href="#">软件界面设计下载</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img02.png" /></span>
                    <h2><a href="#">界面样式素材下载</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img03.png" /></span>
                    <h2><a href="#">弹出小窗口界面设计教程</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img04.png" /></span>
                    <h2><a href="#">羽毛图标设计教程</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img05.png" /></span>
                    <h2><a href="#">日历组件样式设计</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img06.png" /></span>
                    <h2><a href="#">羽毛图标设计教程</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img07.png" /></span>
                    <h2><a href="#">弹出小窗口界面设计教程</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img08.png" /></span>
                    <h2><a href="#">弹出小窗口界面设计教程</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img09.png" /></span>
                    <h2><a href="#">弹出小窗口界面设计教程</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

                <li>
                    <span><img src="~/Content/imgs/admin/img10.png" /></span>
                    <h2><a href="#">软件界面设计下载</a></h2>
                    <p><a href="#">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">删除</a></p>
                </li>

            </ul>



            <div class="pagin">
                <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
                <ul class="paginList">
                    <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
                    <li class="paginItem"><a href="javascript:;">1</a></li>
                    <li class="paginItem current"><a href="javascript:;">2</a></li>
                    <li class="paginItem"><a href="javascript:;">3</a></li>
                    <li class="paginItem"><a href="javascript:;">4</a></li>
                    <li class="paginItem"><a href="javascript:;">5</a></li>
                    <li class="paginItem more"><a href="javascript:;">...</a></li>
                    <li class="paginItem"><a href="javascript:;">10</a></li>
                    <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
                </ul>
            </div>


            <div class="tip">
                <div class="tiptop"><span>提示信息</span><a></a></div>

                <div class="tipinfo">
                    <span><img src="~/Content/imgs/admin/ticon.png" /></span>
                    <div class="tipright">
                        <p>是否确认对信息的修改 ？</p>
                        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                    </div>
                </div>

                <div class="tipbtn">
                    <input name="" type="button" class="sure" value="确定" />&nbsp;
                    <input name="" type="button" class="cancel" value="取消" />
                </div>

            </div>
        </div>

    </div>

    <script type="text/javascript">
        $("#pageloading_bg,#pageloading").hide();
    </script>

</body>
</html>
